.career {
  position: relative;
  width: 100%;
  padding: 10%;
  background-color: $superLightGray;
}

.career__title-container {
  text-align: center;
  color: $black;
  font-size: $thirdText;
  text-transform: uppercase;
}

.career__subtitle-container {
  display: flex;
  flex-direction: row;
}
.career__icon {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 10px;
}

.career__image-container,
.career__text-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 0.4em;
}

.career__text-container {
  padding: 5% 0;
}

.career__image {
  object-fit: cover;
}

@media only screen and (min-width: 1200px) {
  .career__image {
    width: 500px;
    height: 350px;
  }

  .career__image-container,
  .career__text-container {
    grid-gap: 0.4em;
  }
}

@media only screen and (min-width: 992px) {
  .career__image {
    width: 350px;
    height: 250px;
  }

  .career__image-container,
  .career__text-container {
    grid-gap: 1em;
  }
}

.career__title {
  margin-bottom: 50px;
}

.career__subtitle {
  color: $black;
  font-size: $paraText;
  font-weight: 600;
}

.career__para {
  color: $gray;
  font-size: $paraText;
  font-weight: 300;
  line-height: 1.5em;
}

.secondaryBtn {
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $blue;
  padding: 30px;
  margin: 10px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  box-shadow: 0px 8px 7px rgba(59, 59, 59, 0.2);
}
