.hero-img {
  width: 100vw;
  height: auto;
  position: relative;
  filter: blur(0.85px) brightness(0.7);
}

.hero-content {
  background-color: transparent;
  button {
    margin: 10px;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.hero-inner-content {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  a {
    text-decoration: none;
    color: $white;
  }
  h1 {
    font-size: $primaryText;
  }
  h3 {
    font-size: $secondaryText;
  }
}

.primaryBtn {
  color: $white;
  background-color: $blue;
  padding: 30px;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
}
