.menu__title-container {
  text-align: center;
  color: $gray;
  margin-bottom: 50px;

  .menu__title {
    font-size: $secondaryText;
    color: $black;
    text-transform: uppercase;
  }
  .menu__subtitle {
    font-size: $thirdText;
    color: $black;
    span {
      color: $blue;
    }
  }
  span {
    font-size: $thirdText;
    text-align: center;
    color: $black;
  }
}

/* signature menu */
.signature-menu {
  width: 100%;
  padding: 10% 10% 5% 10%;
}

.signature-menu__container {
  display: grid;
  grid-template: 150px / repeat(2, 1fr);
  grid-gap: 30px;
  padding-left: 0;
}

.signature-menu__subcontainer {
  display: flex;
  flex-direction: row;
  padding-left: 5px;

  img {
    width: 100px;
    height: 100px;
  }
}

.signature-menu__text-container {
  padding-left: 20px;

  li {
    color: $black;
    font-size: $paraText;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5px;
    padding: 6px 0 10px 0;
  }

  p {
    color: $gray;
    margin-top: 5px;
    letter-spacing: 0.5px;
    line-height: 1.6em;
  }

  span {
    color: $blue;
  }
}

/* custom menu */
.custom-menu {
  width: 100%;
  padding: 0 10% 10% 10%;
}

.custom-menu__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2em;
  padding-left: 0;

  .custom-menu__subtitle {
    color: $white;
    background-color: $black;
    padding: 15px 12px;
    margin-bottom: 0;
  }

  .custom-menu__list-container {
    padding: 5px 10px 15px 10px;
    background-color: $superLightGray;
  }

  .custom-menu__list {
    color: $gray;
  }

  span {
    font-size: $extraSmallText;
    color: $lightGray;
  }
}

#custom-menu__request {
  color: $lightGray;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}
