.nav__header {
  position: fixed;
  width: 100%;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  z-index: 10;
  box-shadow: 0px 8px 7px rgba(77, 77, 77, 0.1);
}

.nav__logo {
  width: 200px;
  height: auto;
}

.nav {
  font-size: $paraText;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  a {
    color: $white;
    text-decoration: none;
  }
}

.subnav {
  a {
    color: $white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}

.subnav__btn {
  color: $white;
  font-size: $paraText;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0 40px;
  cursor: pointer;
}

.menu {
  padding-right: 0;
}

.subnav__content {
  display: none;
  padding: 20px 10px 10px 10px;
  a {
    padding: 10px 30px 0 30px;
  }
}

.subnav:hover .subnav__content {
  display: block;
}
