.story {
  width: 100%;
  padding: 10%;
  background-color: $superLightGray;
}

.story-title {
  font-size: $secondaryText;
  text-align: center;
  color: $black;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.story-container {
  column-count: 2;
  padding: 0 7%;
}

.story-para {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: $paraText;
  letter-spacing: 1px;
  line-height: 1.8em;
  color: $gray;
}
