// color
$blue: #01bddd;
$white: #ffffff;
$black: #090909;
$gray: #636363;
$lightGray: #a5a5a5;
$superLightGray: #f8f8f8;

// font size
$primaryText: 72px;
$secondaryText: 32px;
$thirdText: 20px;
$paraText: 16px;
