// color
$blue: #01bddd;
$white: #ffffff;
$black: #090909;
$gray: #636363;
$lightGray: #a5a5a5;
$superLightGray: #f8f8f8;

// font size, default font size= 16px
$primaryText: 4rem;
$secondaryText: 2rem;
$thirdText: 1.25rem;
$paraText: 1rem;
$extraSmallText: 0.875rem;
