.nav__header {
  position: fixed;
  width: 100%;
  background-color: #01bddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 10px 0;
  z-index: 10;
  -webkit-box-shadow: 0px 8px 7px rgba(77, 77, 77, 0.1);
          box-shadow: 0px 8px 7px rgba(77, 77, 77, 0.1);
}

.nav__logo {
  width: 200px;
  height: auto;
}

.nav {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

.subnav a {
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.subnav__btn {
  color: #ffffff;
  font-size: 1rem;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0 40px;
  cursor: pointer;
}

.menu {
  padding-right: 0;
}

.subnav__content {
  display: none;
  padding: 20px 10px 10px 10px;
}

.subnav__content a {
  padding: 10px 30px 0 30px;
}

.subnav:hover .subnav__content {
  display: block;
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .nav {
    padding: 10px 0 10px 10px;
  }
  .subnav__content a {
    font-size: 0.875rem;
  }
}

.hero__img {
  width: 100vw;
  height: auto;
  position: relative;
  -webkit-filter: blur(1.8px) brightness(0.7);
          filter: blur(1.8px) brightness(0.7);
}

.hero__content {
  background-color: transparent;
}

.hero__inner-content {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__inner-content a {
  text-decoration: none;
  color: #ffffff;
}

.hero__inner-content h1 {
  font-size: 4rem;
}

.hero__inner-content h3 {
  font-size: 2rem;
}

.primaryBtn {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #01bddd;
  padding: 30px;
  margin: 10px;
  border-radius: 40px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 8px 7px rgba(59, 59, 59, 0.4);
          box-shadow: 0px 8px 7px rgba(59, 59, 59, 0.4);
}

.primaryBtn:hover {
  background-color: #ffffff;
  color: #01bddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding: 30px 40px;
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .hero__img {
    width: 988px;
    height: 100vh;
  }
  .hero__inner-content h1 {
    margin-top: 120px;
    margin-bottom: 0px;
  }
  .primaryBtn {
    width: 80%;
    bottom: -10%;
  }
}

.story {
  width: 100%;
  padding: 10%;
  background-color: #f8f8f8;
}

.story__title {
  color: #090909;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.story__container {
  -webkit-column-count: 2;
          column-count: 2;
  padding: 0 5%;
}

.story__para {
  color: #636363;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8em;
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .story__container {
    -webkit-column-count: 1;
            column-count: 1;
    text-align: center;
  }
}

.menu__title-container {
  text-align: center;
  color: #636363;
  margin-bottom: 50px;
}

.menu__title-container .menu__title {
  font-size: 2rem;
  color: #090909;
  text-transform: uppercase;
}

.menu__title-container .menu__subtitle {
  font-size: 1.25rem;
  color: #090909;
}

.menu__title-container .menu__subtitle span {
  color: #01bddd;
}

.menu__title-container span {
  font-size: 1.25rem;
  text-align: center;
  color: #090909;
}

/* signature menu */
.signature-menu {
  width: 100%;
  padding: 10% 10% 5% 10%;
}

.signature-menu__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px;
  -ms-grid-columns: (1fr)[2];
      grid-template: 150px/repeat(2, 1fr);
  grid-gap: 30px;
  padding-left: 0;
}

.signature-menu__subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 5px;
}

.signature-menu__subcontainer img {
  width: 100px;
  height: 100px;
}

.signature-menu__text-container {
  padding-left: 20px;
}

.signature-menu__text-container li {
  color: #090909;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.5px;
  padding: 6px 0 10px 0;
}

.signature-menu__text-container p {
  color: #636363;
  margin-top: 5px;
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

.signature-menu__text-container span {
  color: #01bddd;
}

/* custom menu */
.custom-menu {
  width: 100%;
  padding: 0 10% 10% 10%;
}

.custom-menu__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 2em;
  padding-left: 0;
}

.custom-menu__container .custom-menu__subtitle {
  color: #ffffff;
  background-color: #090909;
  padding: 15px 12px;
  margin-bottom: 0;
}

.custom-menu__container .custom-menu__list-container {
  padding: 5px 10px 15px 10px;
  background-color: #f8f8f8;
}

.custom-menu__container .custom-menu__list {
  color: #636363;
}

.custom-menu__container span {
  font-size: 0.875rem;
  color: #a5a5a5;
}

#custom-menu__request {
  color: #a5a5a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3%;
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .signature-menu__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .custom-menu__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #custom-menu__request {
    text-align: center;
  }
}

.career {
  position: relative;
  width: 100%;
  padding: 10%;
  background-color: #f8f8f8;
}

.career__title-container {
  text-align: center;
  color: #090909;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.career__subtitle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.career__image-container,
.career__text-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (26vw)[3];
      grid-template-columns: repeat(3, 26vw);
  grid-gap: 0.4em;
  padding-bottom: 0.4em;
}

.career__text-container {
  padding: 5% 0;
}

.career__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
  padding: 10px 5px;
}

.career__icon {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 10px;
}

.career__subtitle {
  color: #090909;
  font-size: 1rem;
  font-weight: 600;
}

.career__para {
  color: #636363;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5em;
  padding: 5px;
}

.secondaryBtn {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #01bddd;
  padding: 30px;
  margin: 10px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 40px;
  -webkit-box-shadow: 0px 8px 7px rgba(59, 59, 59, 0.2);
          box-shadow: 0px 8px 7px rgba(59, 59, 59, 0.2);
}

.secondaryBtn:hover {
  background-color: #ffffff;
  color: #01bddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding: 30px 40px;
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .career__image-container,
  .career__text-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .career__subtitle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .career__para {
    text-align: center;
  }
  .secondaryBtn {
    width: 80%;
    bottom: -2%;
  }
}

.carousel {
  padding: 10%;
}

.carousel__title-container {
  text-align: center;
}

.carousel__title {
  color: #090909;
  font-size: 2rem;
  text-transform: uppercase;
}

.carousel__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.carousel__img {
  margin-right: 10px;
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .carousel__img {
    width: 120vw;
  }
}

.contact {
  padding: 10%;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* form comes first. Map is used to media queries */
.contact__form-container {
  padding-left: 30px;
}

.contact__title {
  color: #090909;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 0;
}

.contact__subtitle {
  color: #636363;
  font-size: 1rem;
  font-weight: 600;
}

.contact-form {
  display: table;
  margin-top: 30px;
}

.input__container {
  margin-bottom: 30px;
}

.input__container input,
.input__container label {
  display: table-cell;
}

.input__container label {
  color: #636363;
  padding-bottom: 5px;
}

.input__container input {
  width: 500px;
  padding: 8px 20px;
  border: none;
  margin: 8px 0;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.input__container input[type="text"]:focus {
  border: 0.5px solid #a5a5a5;
  color: #090909;
}

.input__container textarea {
  width: 500px;
  height: 250px;
  border: none;
  outline: none;
  padding: 15px 20px;
  color: #090909;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}

.thirdBtn {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #01bddd;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 8px 7px rgba(59, 59, 59, 0.2);
          box-shadow: 0px 8px 7px rgba(59, 59, 59, 0.2);
}

.thirdBtn:hover {
  background-color: #ffffff;
  color: #01bddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding: 20px 40px;
}

/* google map */
@media only screen and (min-width: 1900px) {
  .contact__map-img {
    width: 800px;
    height: 800px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1899px) {
  .contact__map-img {
    width: 600px;
    height: 800px;
  }
}

/* Phone Screen */
@media only screen and (max-width: 600px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__map-img {
    width: 400px;
    height: 400px;
  }
  .contact__title {
    margin-top: 20px;
  }
  .contact__form-container {
    padding-left: 0;
  }
  .input__container input,
  .input__container textarea {
    width: 400px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 2% 40px 2%;
  background-color: #090909;
}

.footer__text-container {
  color: #ffffff;
  font-size: 0.875rem;
}

.footer__img-container img {
  fill: white;
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

/* Universal Styles */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h3,
a,
li,
span {
  font-family: "Raleway", "Arial", sans-serif;
}

p,
form,
textarea {
  font-family: "Roboto", "Helvetica", sans-serif;
}

li {
  list-style: none;
}

button {
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */