@import "./variables";
@import "./nav";
@import "./hero";
@import "./story";
@import "./menu";
@import "./career";
@import "./carousel";
@import "./contact";
@import "./footer";

/* Universal Styles */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h3,
a,
li,
span {
  font-family: "Raleway", "Arial", sans-serif;
}

p,
form,
textarea {
  font-family: "Roboto", "Helvetica", sans-serif;
}

li {
  list-style: none;
}

button {
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}
